\documentclass[version=last]{scrlttr2}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[ngerman]{babel}

\renewcommand{\familydefault}{\sfdefault}
\renewcommand*{\raggedsignature}{\raggedright}

\KOMAoptions{subject=titled}

\setkomavar{fromname}{ {{ from_name }} }
{% if from_address -%} \setkomavar{fromaddress}{ {{ from_address }} } {%- endif %}
{% if backaddress -%} \setkomavar{backaddress}{ {{ backaddress }} } {%- endif %}
{% if location -%} \setkomavar{location}{ {{ location }} } {%- endif %}
{% if date -%} \setkomavar{date}{ {{ date }} } {%- endif %}
{% if yourref -%} \setkomavar{yourref}{ {{ yourref }} } {%- endif %}
{% if myref -%} \setkomavar{myref}{ {{ myref }} } {%- endif %}
{% if subject -%} \setkomavar{subject}{ {{ subject }} } {%- endif %}

\begin{document}

\begin{letter}{ {{ recipient_name }} \\ {{ recipient_address }} }
\opening{ {{ opening }} }

{{ body }}

\closing{ {{ closing }} }
{% if encl -%} \encl{ {{ encl }} } {%- endif %}
{% if ps -%} \ps{ {{ ps }} } {%- endif %}
\end{letter}

\end{document}
