\documentclass[version=last]{scrlttr2}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[ngerman]{babel}

\renewcommand{\familydefault}{\sfdefault}

% Sender Information
\setkomavar{fromname}{\raggedright {{ from_name }} }
{% if from_address %}\setkomavar{fromaddress}{\raggedright {{ from_address }}
    {%- if from_zip_code and from_city -%}
        \\ {{- from_zip_code }} {{ from_city -}}
    {%- endif %}}
{%- endif %}
{% if my_ref %}\setkomavar{myref}{\raggedright {{ my_ref -}} }{% endif %}
{% if from_phone %}\setkomavar{fromphone}{ {{- from_phone -}} }\n\KOMAoptions{fromphone}{% endif %}
{% if phone_separator %}\setkomavar{phoneseparator}{ {{- phone_separator -}} }{% endif %}
{% if from_email %}\setkomavar{fromemail}{ {{- from_email -}} }\n\KOMAoptions{fromemail}{% endif %}
{% if from_mobile_phone %}\setkomavar{frommobilephone}{ {{- from_mobile_phone -}} }\KOMAoptions{frommobilephone}{% endif %}
{% if from_fax %}\setkomavar{fromfax}{ {{- from_fax -}} }{% endif %}
{% if fax_separator %}\setkomavar{faxseparator}{ {{- fax_separator -}} }{% endif %}
{% if email_separator %}\setkomavar{emailseparator}{ {{- email_separator -}} }{% endif %}
{% if from_url %}\setkomavar{fromurl}{ {{- from_url -}} }{% endif %}
{% if from_bank %}\setkomavar{frombank}{ {{- from_bank -}} }{% endif %}
{% if back_address %}\setkomavar{backaddress}{ {{- back_address -}} }{% endif %}
{% if place %}\setkomavar{place}{ {{- place -}} }{% endif %}
{% if place_separator %}\setkomavar{placeseparator}{ {{- place_separator -}} }{% endif %}
{% if date %}\setkomavar{date}{ {{- date -}} }{% endif %}
{% if signature %}\setkomavar{signature}{ {{- signature -}} }{% endif %}
{% if address_image %}\setkomavar{addressimage}{ {{- address_image -}} }{% endif %}
{% if back_address_separator %}\setkomavar{backaddressseparator}{ {{- back_address_separator -}} }{% endif %}
{% if from_bank %}\setkomavar{frombank}{ {{- from_bank -}} }{% endif %}
{% if location %}\setkomavar{location}{ {{- location -}} }{% endif %}
{% if from_logo %}\setkomavar{fromlogo}{ {{- from_logo -}} }{% endif %}
{% if from_zip_code %}\setkomavar{fromzipcode}{ {{- from_zip_code -}} }{% endif %}
{% if my_ref %}\setkomavar{myref}{ {{- my_ref -}} }{% endif %}
{% if pp_data_matrix %}\setkomavar{PPdatamatrix}{ {{- pp_data_matrix -}} }{% endif %}
{% if pp_code %}\setkomavar{PPcode}{ {{- pp_code -}} }{% endif %}

% Recipient Information
{% if to_name %}\setkomavar{toname}{ {{- to_name -}} }{% endif %}
{% if your_ref %}\setkomavar{yourref}{ {{- your_ref -}} }{% endif %}
{% if yourmail %}\setkomavar{yourmail}{ {{- yourmail -}} }{% endif %}
{% if customer %}\setkomavar{customer}{ {{- customer -}} }{% endif %}
{% if invoice %}\setkomavar{invoice}{ {{- invoice -}} }{% endif %}
{% if subject %}\setkomavar{subject}{ {{- subject -}} }{% endif %}
{% if subject_separator %}\setkomavar{subjectseparator}{ {{- subject_separator -}} }{% endif %}
{% if title %}\setkomavar{title}{ {{- title -}} }{% endif %}

% Additional Fields
{% if cc_separator %}\setkomavar{ccseparator}{ {{- cc_separator -}} }{% endif %}
{% if encl_separator %}\setkomavar{enclseparator}{ {{- encl_separator -}} }{% endif %}
{% if first_foot %}\setkomavar{firstfoot}{ {{- first_foot -}} }{% endif %}
{% if first_head %}\setkomavar{firsthead}{ {{- first_head -}} }{% endif %}
{% if next_food %}\setkoma{nextfoot}{ {{- next_foot -}} }{% endif %}
{% if next_head %}\setkoma{nexthead}{ {{- next_head -}} }{% endif %}
{% if special_mail %}\setkomavar{specialmail}{ {{- special_mail -}} }{% endif %}

% Options
\KOMAoption{subject}{titled}
\KOMAoption{fromrule}{off} % line after sender address
\setplength{toaddrwidth}{100mm}

% Body
\begin{document}

\begin{letter}{ {{- to_name -}} \\ {{- to_address -}} }
\opening{ {{- opening -}} }

{{ body }}

\closing{ {{- closing -}} }
{% if encl %}\encl{ {{- encl -}} }{% endif %}
{% if ps %}\ps{ {{- ps -}} }{% endif %}
\end{letter}

\end{document}
